@import "../../assets/styles/variables.scss";

.tag {
  display: flex;
  padding: 10px;
  margin: 0 10px;
  background-color: $cool-grey;
  border-radius: 6px;
  font-size: 15px;
  color: $white;
  transition: $hover;

  &:first-child {
    margin: 0 10px 0 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: $hover;
  }
}
